body {
  font-family: Arial, sans-serif;
  background-color: #3a3a3a;
  margin: 0;
  padding: 0;
}

.container {
  color: aliceblue;
}

.education-section {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.formation-section {
  background-color: #ff5100;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

footer {
  background-color: #a80000;
  color: white;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 400px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  border-radius: 5px;
}

p {
  margin-top: 10px;
}
